button{
  background-color: rgb(114, 0, 4);
  border: none;
  color: #ffffff;
  padding: 15px, 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}