.header{
  padding: 10px;
  text-align: center;
  background: #AA151B;
  color: #ffffff;
  font-size: 20px;
}

.header h1{
  margin: 0;
}

.header a{
  color: #ffffff;
}

.header nav a:hover{
  color: #ffffff;
}